<div class="form-group">
    <div class="title form-title" for="<%- id %>"><%- label %></div>

        <!--    <input id="<%- id %>" name="<%- id %>" type="text" placeholder="<%- placeholder %>" class="<%- inputsize %>" <% if(required) {%> required <% } %> />
            <% if (helptext.length > 0) { %><p class="help-block"><%- helptext %></p><% } %>-->
        <!--<input id="<%- id %>" name="<%- id %>" type="text" placeholder="<%- placeholder %>" class="<%- inputsize %>"-->

        <!--<% if(required) {%> required <% } %> />
        <% if (helptext.length > 0) { %>
        <p class="help-block"><%- helptext %></p><% } %>-->
</div>